.countdown-cl{
  width: 100%;
  max-width: 44%;
}
.locationmap-cl{
  width:30px;
  height: 42px;
}
.countdown-cl .FlipClock .flipUnitContainer{
  width:76px;
  height: 80px;
}
.FlipClock .flipUnitContainer .flipCard.fold{
  width:76px;
  height: 40px;
}
.FlipClock .flipUnitContainer .flipCard.unfold{
  width:76px;
  height: 40px;
}
.banner-button a{
  margin-right: 20px;
  width: 170px;
  height: 45px;
  font-size: 20px;
  font-weight: 600;
}
.countdown-cl .FlipClock .flipUnitContainer .flipCard span{
  font-size: 60px;
}
.countdown-cl .flipUnitContainer .ContainerTitle{
  top:98px !important;
  font-weight: 600;
  font-size: 12px !important;
}
.App{
  width: 100%;
  max-width: 1020px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.count-top{
  height: 536px;
  padding-top: 140px;
  padding-left: 50px;
  background-image: url("../images/bannerimg.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 570px 405px;
}
.banner-button button{
  margin-right:20px;
  width:170px;
  height: 45px;
  font-size: 20px;
  font-weight: 600;
}
.find-btn{
  border:1px solid #02c2b2;
  background-color: #fff;
  color:#02c2b2;
}
.find-btn:hover{
  background-color: #f8e71c;
  color:#000;
  border: 1px solid #f8e71c;
}
.enrollbanner-btn{
  background-color:#02c2b2;
  color:#fff;
}
.enrollbanner-btn:hover{
  background-color:#f8e71c;
  color:#000;
  border:1px solid #f8e71c;
}
.countdown-cl .FlipClock .flipUnitContainer .lowerCard span{
  font-size:60px;
}
.countdown-cl .FlipClock .flipUnitContainer .upperCard span{
  font-size:60px;
}
.FlipClock .flipUnitContainer .ContainerTitle {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50px;
    font-size: 10px;
    text-transform: capitalize;
}
.FlipClock .divider{
    display: none;
}
.modal-title{
  font-size: 20px;
  font-weight: 600;
}
label{
  font-size:16px;
}
.form-group input{
  font-size:16px;
}
p{
  font-size:18px;
}
.banner-text h4{
  margin-top:23px;
  margin-bottom:77px;
  font-size:22px;
}
.banner-text h2{
  margin-top: 40px;
  font-size: 30px;
  font-weight: 600;
}
.banner-text{
  margin-left:10px;
}
.banner-button{
  display: inline-flex;
}
  .enrollbanner-btn:focus{
  background-color: #02c2b2;
  color: #fff;
}
.contact-form-cl{
  width:450px;
  height: 500px;
  border:none;
  }
.freebirdFormviewerViewFormCard{
  box-shadow: none;
}
.freebirdSolidBackground{
  background-color: none;
}
@media(max-width:767px){
  .countdown-cl{
    width:100%;
    max-width: 96%;
  }
  .find-btn{
    display: none;
  }
  .banner-text{
    margin-left: 10px;
    padding-top:10px;
    width: 100%;
  }
  .banner-text h4{
    margin-top: 23px;
    margin-bottom: 50px;
  }
  .count-top{
    padding-left: 12px;
    padding-right:12px;
    padding-top:44px;
    background-position: right 253px;
    background-size: 250px 226px;
    background-image:url('../images/mobile-banner.png');
  }
  .banner-text h2{
    font-size: 26px;
  }
  .banner-button button{
    width:130px;
  }
  .FlipClock {
    margin-left:8px;
  }
  .modal-dialog {
    width: 354px;
}
.contact-form-cl {
    width: 324px;
    height: 500px;
    border: none;
}
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-form-cl {
    width: 470px;
}
  .countdown-cl {
      width: 100%;
      max-width: 46%;
  }
}
