.course-header{
   margin-top: 30px;
   width: 100%;
   padding-left: 70px;
   padding-right: 70px;
}
.enroll-btn button {
    margin-right: 20px;
    width: 170px;
    height: 45px;
    font-size: 20px;
    font-weight: 600;
}
.header-text p{
    margin-left:4px;
}
.course-detail{
    text-align: center;
    width: 100%;
    max-width: 90%;
    margin-top:30px;
    margin-bottom:30px;
  }
.course-back-cl{
    background-image:url("../images/rectangle-img.svg");
    background-size: cover;
    background-position: 0 0px;
    padding: 100px 0 200px 0;
}
.back-head h4{
  font-size:18px;
  font-weight: 600;
}
.back-head{
  margin-top:50px;
}
.enroll-btn {
    margin-top: -32px;
    position: absolute;
    margin-left: 34px;
}
.background-cl{
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 3px;
  margin: 22px;
  width: 256px;
  height: 270px;
}
.flip-card-back h3{
  margin-top:200px;
  font-size:36px;
}
.flip-card-inner .fullstack{
  background-color:#1f28cf;
  opacity: 0.8;
}
.flip-card-inner .frontend{
  background-color:#2f4a55;
}
.flip-card-inner .backend{
  background-color:#fc611f;
}
.course-header-cl h3{
  font-size:18px;
  font-weight:600;
}
.background-cl:hover{
  cursor: pointer;
}
.background-cl:hover button{
  background-color:#004efe;
  color:#fff;
  opacity: 1;
}

.enroll-btn button:hover{
  background-color:#f8e71c;
  color:#000;
}
.controls .btn-success:focus{
  background-color:#02c2b2;
  color:#fff;
  border: 1px solid #02c2b2;
}
.controls .btn-success:active{
  background-color:#02c2b2;
  color:#fff;
  border: 1px solid #02c2b2;
}
.background-cl h3{
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 18px;
}
.background-cl img{
  width:100%;
  border-radius: 0;
  height: 120px;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius:20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.course-detail .flip-card {
  background-color: transparent;
  width: 100%;
  height: 300px;
  perspective: 1000px;
}

.course-detail .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.course-detail .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.mobile .flip-card:hover .flip-card-inner {
  transform: none;
}
.course-detail .flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.course-detail .flip-card-front {
  color: black;
  z-index: 2;
  background-color:#fff;
}
.course-card-details ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
    padding: 0;
}
.course-card-details ul li {
    text-align: center;
    font-size: 18px;
    padding: 1rem;
}
.course-detail .flip-card-back {
  background-color: #fff;
  color: #000;
  transform: rotateY(180deg);
  z-index: 1;
}
.mobile .flip-card-back {
  background-color: #fff;
  color: #000;
  transform: none !important;
  z-index: 1;
}
.courseimage-cl{
  height: 98px;
  width: 100%;
  border-radius: 0;
  margin-top: 50px;
}
.card-details{
  padding:20px;
}
.card-details ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
  padding:0;
}
.card-details ul li {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
}
.course-header-cl{
  margin-top:50px;
}
.mobile{
  display: none;
}
.image-align-cl{
  float:right;
}
.course-image-cl {
    height: 50px;
    margin-top: 16px;
    margin-right: 16px;
}
.mobile-back-head h3{
  font-size: 18px;
  font-weight: 600;
  margin-top:68px;
}
.mobile .flip-card{
  height: 360px;
}
@media(max-width:767px){
  .header-text{
    text-align: left;
  }
  .course-header{
    padding-left: 30px;
    padding-right: 30px;
  }
  .course-detail{
    width: 100%;
    max-width: 100%;
  }
  .course-detail .flip-card{
    width:100%;
    padding-top:60px;
  }
  .modal-dialog {
    width: 354px;
}
.modal-header .close{
  width:7%;
}
.course-back-cl{
  padding: 32px 0 470px 0;
}
.enroll-btn{
  margin-left:84px;
}
.enroll-btn button{
  width:130px;
}
.desktop{
  display: none;
}
.mobile{
  display: block;
}
}
@media (min-width: 768px) and (max-width: 991px) {
  .background-cl{
    height: 326px;
    width:100%;
  }

  .background-cl img{
    height: 200px;
  }
  .enroll-btn{
    margin-left:192px;
    margin-top:-42px;
  }
  .course-detail .flip-card{
    width:100%;
    margin-bottom: 20px;
    padding-top:22px;
  }
  .course-back-cl{
    padding: 100px 0 446px 0;
  }
}
