.logo-cl{
   width: 82px;
   height: 40px;
 }
 .App{
   font-family:"Hansom FY W01 Regular" !important;
 }
 .App-header{
   box-shadow: 0 0px 0px 0 rgba(0,0,0,0.16), 0 2px 20px 0 rgba(0,0,0,0.12);
 }
 .navbar-brand{
    padding-left: 70px;
    padding-top: 0px;
 }
 .header-logo p{
   margin-top:14px;
   font-size: 21px;
 }
 .navbar {
     position: relative;
     min-height: 70px;
     margin-bottom: 0px;
     border: 1px solid transparent;
 }
 .header-top-cl{
    padding:10px;
    background-color:#fff;
 }
 .navbar-default .navbar-nav>li>a {
    color: #000;
    font-weight: 600;
    font-size: 16px;
}
.navbar-nav{
    padding-right:50px;
}
.header-logo{
  display: inline-flex;
}
@media(max-width:767px){
  .navbar-brand{
        padding: 2px 20px;
  }
  .header-logo p{
    font-size:18px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
.navbar-nav{
  padding-right:0;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
  margin-left:-40px;
}
.count-top{
  padding-top:76px;
  background-size: 354px 310px;
  height: 430px;
}

}
