
.header-text p{
    margin-left:4px;
}
.story-cl{
   height:440px;
}
.story-details{
  padding-top:50px;
}
.story-header{
   margin-bottom: 30px;
}
.founder-cl{
  text-align: center;
  margin-top:15px;
  width: 85%;
}
.sign-img{
  text-align: right;
}
.sign-img img{
  height: 60px;
}
.story-text p{
  line-height: 40px;
  text-align: justify;
}

@media(max-width:767px){
  .story-details{
    text-align: center;
  }
  .founder-cl{
    width: 100%;
  }
}
